{% extends 'base_content.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ character }}{% endblock %}

{% block under_header %}
  <div class="character-header-banner"
    style="background-image: url({% static character.get_skin_static_url %})">
    <div class="row">
      <div class="large-12 columns">
        <h1>
          <a href="{{ character.get_absolute_url }}">
            {{ character }}
          </a>
           <small>{{ character.format_online_time }}</small>
        </h1>
      </div>
      <ul class="tabs">
        {% url 'characters:show:index' character.pk as index_url %}
        <li class="tab-title{% if request.path == index_url%} active{% endif %}">
          <a href="{% url 'characters:show:index' character.pk %}">
            <i class="fa fa-info"></i>
            <span class="right show-for-large-up">{% trans 'Szczegóły' %}</span>
          </a>
        </li>
        <li class="tab-title{% if 'items' in request.path%} active{% endif %}">
          <a href="{% url 'characters:show:items' character.pk %}">
            <i class="fa fa-archive"></i>
            <span class="right show-for-large-up">{% trans 'Przedmioty' %}</span>
          </a>
        </li>
        <li class="tab-title{% if 'vehicles' in request.path%} active{% endif %}">
          <a href="{% url 'characters:show:vehicles' character.pk %}">
            <i class="fa fa-car"></i>
            <span class="right show-for-large-up">{% trans 'Pojazdy' %}</span>
          </a>
        </li>
        <li class="tab-title{% if 'doors' in request.path%} active{% endif %}">
          <a href="{% url 'characters:show:doors' character.pk %}">
            <i class="fa fa-sign-in"></i>
            <span class="right show-for-large-up">{% trans 'Drzwi' %}</span>
          </a>
        </li>
        <li class="tab-title{% if 'groups' in request.path%} active{% endif %}">
          <a href="{% url 'characters:show:groups' character.pk %}">
            <i class="fa fa-users"></i>
            <span class="right show-for-large-up">{% trans 'Grupy' %}</span>
          </a>
        </li>
        <li class="tab-title{% if 'settings' in request.path%} active{% endif %}">
          <a href="{% url 'characters:show:settings' character.pk %}">
            <i class="fa fa-cog"></i>
            <span class="right show-for-large-up">{% trans 'Ustawienia' %}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="tabs-content">
    <div class="content active">
        {% block character_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
