{% extends 'base_content.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Stwórz postać' %}{% endblock %}

{% block under_header %}
  {% trans 'Stwórz postać' as create_character %}
  {% url 'characters:create' as create_character_url %}
  {% include 'includes/header_banner.html' with text=create_character url=create_character_url %}
{% endblock %}

{% block content %}
  <form action="{% url 'characters:create' %}" method="POST">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <div class="alert-box alert">
        {{ error }}
      </div>
    {% endfor %}
    <div class="row">
      <div class="large-12 columns">
        <label {% if form.name.errors %}class="error"{% endif %} for="{{ form.name.id_for_label }}">
          {{ form.name.label }}
          {{ form.name }}
        </label>
        {% if form.name.errors %}
          <small class="error">{{ form.name.errors|join:', ' }}</small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label {% if form.dob.errors %}class="error"{% endif %} for="{{ form.dob.id_for_label }}">
          {{ form.dob.label }}
          {# form.dob #}
          <input type="date" name="dob" id="{{ form.dob.id_for_label }}"
            value="{{ request.POST.dob }}">
        </label>
        {% if form.dob.errors %}
          <small class="error">{{ form.dob.errors|join:', ' }}</small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label {% if form.sex.errors %}class="error"{% endif %} for="{{ form.sex.id_for_label }}">
          {{ form.sex.label }}
          {{ form.sex }}
        </label>
        {% if form.sex.errors %}
          <small class="error">{{ form.sex.errors|join:', ' }}</small>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns" id="skins"
          style="display: {% if request.POST.sex %}block{% else %}none{% endif %}">
        {% for k, v in skins.items %}
          <div id="skins_{{ k }}"
              style="display: {% if request.POST.sex|floatformat == k|floatformat %}block{% else %}none{% endif %}">
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
              {% for skin in v %}
                <li class="text-center skin-list-item" rel="{{ skin.skin_id }}">
                  <img src="{% static skin.get_static_url %}" alt="Skin {{ skin }}">
                  <br>
                  <input name="skin" type="radio" id="input_radio_skin_{{ skin.skin_id }}" value="{{ skin.skin_id }}" {% if skin.skin_id|floatformat == request.POST.skin|floatformat %}checked{% endif %}>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <input class="button" type="submit" value="{% trans 'Stwórz postać' %}">
      </div>
    </div>
  </form>
{% endblock %}

{% block before_end_of_body %}
  <script>
    var skin_id = 0

    $('.skin-list-item').click(function() {
      skin_id = $(this).attr('rel');
      $('#input_radio_skin_' + skin_id).prop('checked', true);
    });

    var val = {{ request.POST.sex|default:0 }}

    $("#{{ form.sex.id_for_label }}").change(function() {
      val = $("#{{ form.sex.id_for_label }}").val()
      if (val == 1) {
        $('#skins').show();
        $('#skins_1').show();
        $('#skins_2').hide();
      } else if (val == 2) {
        $('#skins').show();
        $('#skins_1').hide();
        $('#skins_2').show();
      } else {
        $('#skins').hide();
        $('#skins_1').hide();
        $('#skins_2').hide();
      }
    });
  </script>
{% endblock %}
