{% extends 'base_content.html' %}
{% load i18n %}

{% block title %}{% trans 'Lista postaci' %}{% endblock %}

{% block under_header %}
  {% url 'characters:index' as characters_url %}
  {% include 'includes/header_banner.html' with text='Twoje postacie' url=characters_url %}
{% endblock %}

{% block content %}
  {% if request.user.can_create_character %}
    <a class="button large expand button-create-character" href="{% url 'characters:create' %}">
      {% trans 'Stwórz postać' %} <i class="fa fa-user-plus"></i>
    </a>
  {% else %}
    <div data-alert class="alert-box warning">
      {% trans 'Nie możesz obecnie tworzyć nowych postaci.' %}
    </div>
  {% endif %}
  {% if not request.user.has_passed_rp_test %}
    {% url 'accounts:roleplay-test' as test_url %}
    <p>
      <a class="button large alert expand" href="{{ test_url }}">
        {% trans 'Rozpocznij weryfikację wiedzy role play.' %} <i class="fa fa-link"></i>
      </a>

    </p>
  {% endif %}

  <ul class="characters-list small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
    {% for character in characters %}
      <li>
        <a href="{% url 'characters:show:index' character.pk %}"
          style="background-image: url(http://ls-rp.net/public/style_images/LS_RP/samp/skins_new/{{ character.skin }}.png)"
          data-equalizer-watch>
          <ul class="no-bullet">
            <h2>{{ character }}</h2>
            <li>124h 12min.</li>
            <li>${{ character.money }}</li>
          </ul>
        </a>
      </li>
      {% empty %}
      <li>
        {% trans 'Nie masz żadnych postaci.' %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
