{% extends 'base_content.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Twoje postacie' %}{% endblock %}

{% block under_header %}
  {% url 'characters:index' as characters_url %}
  {% trans 'Twoje postacie' as characters_trans %}
  {% include 'includes/header_banner.html' with text=characters_trans url=characters_url %}
{% endblock %}

{% block content %}
  {% if request.user.can_create_character %}
    <a class="button large expand button-create-character" href="{% url 'characters:create' %}">
      {% trans 'Stwórz postać' %} <i class="fa fa-user-plus"></i>
    </a>
  {% else %}
    <div data-alert class="alert-box warning">
      {% trans 'Nie możesz obecnie tworzyć nowych postaci.' %}
    </div>
  {% endif %}
  {% if not request.user.has_passed_rp_test %}
    {% url 'accounts:roleplay-test' as test_url %}
    <p>
      <a class="button large alert expand" href="{{ test_url }}">
        {% trans 'Rozpocznij weryfikację wiedzy role play.' %} <i class="fa fa-link"></i>
      </a>

    </p>
  {% endif %}

  <ul class="characters-list small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
    {% for character in characters %}
      <li>
        <a {% if character.blocked %}class="blocked"{% endif %}
            href="{% url 'characters:show:index' character.pk %}"
            style="background-image: url({% static character.get_skin_static_url %})"
            data-equalizer-watch>
          <h2>{{ character }} <small>{% if character.blocked %}<i class="fa fa-ban"></i>{% endif %} {%if character.hide %}<i class="fa fa-eye-slash"></i>{% endif %}</small></h2>
          <ul class="no-bullet">
            <li>{{ character.facecode }}</li>
            <li>{{ character.format_online_time }}</li>
            <li>${{ character.money }}</li>
          </ul>
        </a>
      </li>
      {% empty %}
      <li>
        {% trans 'Nie masz żadnych postaci.' %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
