{% extends 'groups/base_show.html' %}
{% load i18n %}
{% block group_content %}
  <h2>{% blocktrans with member=member.userid %}Edycja członkostwa {{ member }}{% endblocktrans %}</h2>
  <form action="{% url 'groups:show:members_edit' group.pk member.pk %}"
    method="post">
    {% csrf_token %}
    <div class="row">
      <div class="large-12 columns">
        <label {% if form.rankid.errors %}class="error"{% endif %}
         for="{{ form.rankid.label_for_id }}">
          {{ form.rankid.label }}
          {{ form.rankid }}
        </label>
        {% if form.rankid.errors %}
          <small class="error">{{ form.rankid.errors|join:', ' }}</small>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <input class="button" type="submit"
          value="{% trans 'Zapisz członka' %}">
      </div>
    </div>
  </form>
{% endblock %}
