{% extends 'groups/base_show.html' %}
{% load i18n %}
{% block group_content %}
  <h2>{% blocktrans %}Edycja rangi {{ rank }}{% endblocktrans %}</h2>
  <form action="{% url 'groups:show:ranks_edit' group.pk rank.pk %}"
    method="post">
    {% csrf_token %}
    <div class="row">
      <div class="large-12 columns">
        <label {% if form.name.errors %}class="error"{% endif %} for="{{ form.name.id_for_label }}">
          {{ form.name.label }}
          {{ form.name }}
        </label>
        {% if form.name.errors %}
          <small class="error">{{ form.name.errors|join:', ' }}</small>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label {% if form.cash.errors %}class="error"{% endif %} for="{{ form.cash.id_for_label }}">
          {{ form.cash.label }}
          {{ form.cash }}
        </label>
        {% if form.cash.errors %}
          <small class="error">{{ form.cash.errors|join:', ' }}</small>
        {% endif %}
      </div>
    </div>
    {% for k, v in rank.get_rank_permissions.items %}
      <h5>{{ k|title }}</h5>
      <div class="switch small">
        <input id="perm_{{ k }}_id"  name="perm_{{ k }}"
          {% if v %} checked{% endif %} type="checkbox">
        <label for="perm_{{ k }}_id">{{ k|title }}</label>
      </div>
    {% empty %}
      {% trans 'Grupa nie ma żadnych uprawnień' %}
    {% endfor %}
    {{ form.perms.errors|join:', ' }}
    <div class="row">
      <div class="large-12 columns">
        <input class="button" type="submit" value="{% trans 'Zapisz rangę' %}">
      </div>
    </div>
  </form>
{% endblock %}
