{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
  <div id="homepage">
    <div class="content-panel title-panel">
      <img class="title-panel-logo"
        alt="CloudMTA" src="{% static 'img/logo-white.svg' %}">
      <h1>Serwer roleplay jakiego jeszcze nie widziałeś</h1>
      <h2>
    </div>
    <ul class="large-block-grid-4 small-block-grid-2" id="homepage-gateway-buttons-list" data-equalizer>
      <li>
        <a class="gateway-button-1" data-equalizer-watch href="{% url 'pages:gui' %}">
          <h2>Interfejs graficzny</h2>
        </a>
      </li>
      <li>
        <a class="gateway-button-2" data-equalizer-watch href="{% url 'pages:gui' %}">
          <h2>Ficzer #2</h2>
        </a>
      </li>
      <li>
        <a class="gateway-button-3" data-equalizer-watch href="{% url 'pages:gui' %}">
          <h2>Ficzer #3</h2>
        </a>
      </li>
      <li>
        <a class="gateway-button-4" data-equalizer-watch href="{% url 'pages:gui' %}">
          <h2>Ficzer #4</h2>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
