{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
  <div id="homepage">
    <ul class="example-orbit" data-orbit>
      <li>
        <img src="{% static 'img/slider/1.png' %}" alt="Screenshot 1" />
        <div class="orbit-caption">
          <strong>System przedmiotów</strong>
          <p>super duper cool</p>
        </div>
      </li>
      <li>
        <img class="title-panel-logo" src="{% static 'img/slider/2.png' %}" alt="Screenshot 2" />
      </li>
    </ul>
    <div class="content-panel title-panel">
      <img alt="CloudMTA" src="{% static 'img/logo-white.svg' %}">
    </div>
  </div>
{% endblock %}
