{% extends 'base_content.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Panel uzytkownika' %}
{% endblock %}
{% block body_id %}user-panel{% endblock %}
{% block under_header %}
  {% trans 'Panel uzytkownika' as friends_trans_text %}
  {% url 'accounts:user_panel:index' as friends_url %}
  {% include 'includes/header_banner.html' with text=friends_trans_text url=friends_url %}
{% endblock %}

{% block content %}

<h2>Edycja danych</h2>
<div class="row" data-equalizer>
    <div class="large-3 medium-6 columns" data-equalizer-watch>
      <h3>Awatar</h3>
      <div class="text-center">
        <div>
          <img class="avatar th avatar-large" src="{{ user.get_avatar_url }}" alt="{{ user}}">
          <p class="under-avatar-text text-center">Hej, maksymalny rozmiar awatara to taki i taki. Awatar zostanie skompresowany do odpowiednich rozmiarow. </p>
        </div>
      </div>
    </div>
    <form>
      <div class="large-3 medium-6 columns" data-equalizer-watch>
        <h3>Glowne</h3>
        <label for="change_nickname">Zmien nazwe uzytkownika</label>
        <input type="text" name="nickname" id="change_nickname">
        <label for="change_password">Zmien haslo</label>
        <input type="password" name="password" id="change_password">
        <label for="confirm_password">Potwierdz haslo</label>
        <input type="password" name="password" id="confirm_password">
        <label for="change_email">Zmien adres email</label>
        <input type="text" name="email" value="get user email" id="change_email">
    </form>
      </div>
    <form>
      <div class="large-3 medium-6 columns" data-equalizer-watch>
        <h3>Informacje</h3>
        <label for="change_sex">Zmien plec</label>
        <select name="sex" id="change_sex">
          <option value="male">Mezczyzna</option>
          <option value="famale">Kobieta</option>
          <option value="no_one_knows">Kto wie</option>
        </select>
        <label for="skype">Podaj adres skype</label>
        <input type="text" id="skype">
        <label for="skype">Podaj adres skype</label>
        <input type="text" id="skype">
        <label for="skype">Podaj adres skype</label>
        <input type="text" id="skype">
      </div>
    </form>
      <div class="large-3 medium-6 columns" data-equalizer-watch>
      <form>
          <h3>Social media</h3>
          <label for="change_sex">Zmien plec</label>
          <select name="sex" id="change_sex">
            <option value="male">Mezczyzna</option>
            <option value="famale">Kobieta</option>
            <option value="no_one_knows">Kto wie</option>
          </select>
          <label for="skype">Podaj adres skype</label>
          <input type="text" id="skype">
          <label for="skype">Podaj adres skype</label>
          <input type="text" id="skype">
          <label for="skype">Podaj adres skype</label>
          <input type="text" id="skype">
        </div>
      </form>
      </div>
  </form>
</div>
<div class="row">
  <div class="large-3 columns">
    <div class="button expand"> Zmien awatar</div>
  </div>
  <div class="large-9 columns">
    <div class="button expand"> Potwierdz zmiany</div>
  </div>
</div>
<hr>
  <h2>Znajomi</h2>
  <p>Posiadasz <strong>{{ user.friends.count }}</strong> znajomych. <a>Przejdz do listy znajomych</a></p>
<hr>
  <h2>Twoje postacie</h2>
  <p>Posiadasz <strong>w chuj</strong> postaci. <a>Przejdz do listy postaci</a></p>
<hr>
  <div class="row">
    <div class="large-12 columns">
      <h2>O mnie</h2>
      <textarea name="message" class="expand" rows="10">
          {{ user.format_about_me|safe }}
      </textarea>
      <div class="button right">Wyslij</div>
    </div>
  </div>
<hr>
<h2>Logi logowan (ostatnie 30 dni)</h2>
<table>
  <thead>
    <tr>
      <th width="20%">Adres IP</th>
      <th width="70%">Postac, stan konta.</th>
      <th width="20%">Godzina</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>


<script>
  $(document).foundation();
</script>

{% endblock %}
