{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}

<body id="user-profile">
{% block body_id %}user-profile{% endblock %}

{% block title %}
  {% blocktrans %}
    Profil użytkownika {{ user }}
  {% endblocktrans %}
{% endblock %}

{% block container %}
<div class="row">
  <div class="large-12 columns">
    <div class="cover-photo" style="background-image: url(http://i.ytimg.com/vi/wCA7Rq0EBU4/maxresdefault.jpg)">
      <div class="th user-avatar" style="">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="nav">
      <ul class="tabs" data-tab role="tablist">
        <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">{{ user }}</a></li>
        <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">o mnie</a></li>
        <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3">postacie</a></li>
        <li class="tab-title" role="presentation"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4">znajomi</a></li>
        <li class="tab-title" role="presentation"><a href="#panel2-5" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-5">logi</a></li>
      </ul>
    </div>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <div class="row">
          <div class="large-4 small-12 columns">hej</div>
          <div class="large-4 small-12 columns">hej</div>
          <div class="large-4 small-12 columns">hej</div>
        </div>
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
        <h2>Second panel content goes here...</h2>
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
      <div class="row">
        <div class="large-12 columns">
          <ul class="characters-list large-block-grid-3 medium-block-grid-2 small-block-grid-1" data-equalizer>
            {% for character in user.characters.all %}
              <li><a style="background-image: url({% if character.hide %} ../img/skins/hidden.png {% else %} {% static character.get_skin_static_url %}) {% endif %}">
                <ul class="no-bullet">
                  <li><h2>{% if character.hide %} ? {% else %} {{ character }} {% endif %} </h2></li>
                  <li> {{ character.format_online_time }} </li>
                </ul>
              </a></li>
              {% empty %}
              <li><h1>Brak postaci</h1></li>
            <!-- <h1> {{ character }} </h1>
            <h2> {{ character.format_online_time }} </h2>
            <h3> {% trans 'Nigdy' as never %} {{ character.lastvisit|naturaltime|default:never }} </h3> -->

            {% endfor %}
          </ul>
        </div>
      </div>
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
        <h2>Fourth panel content goes here...</h2>
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-5">
        <h2>Fourth panel content goes here...</h2>
      </section>
    </div>
  </div>
</div>
{% endblock %}
</body>
