{% extends 'base_content.html' %}
<body id="friends-menu">
{% load i18n %}

{% block title %}
{% trans 'Twoi znajomi' %}
{% endblock %}

{% block under_header %}
  {% trans 'Twoi znajomi' as friends_trans_text %}
  {% url 'friends:index' as friends_url %}
  {% include 'includes/header_banner.html' with text=friends_trans_text url=friends_url %}
{% endblock %}

{% block content %}
  <ul class="no-bullet">
    {% url 'accounts:friends:index' as index_url %}
    <li class="{% if request.path == index_url %}active{% endif %}" style="float:left;">
      <a href="{{ index_url }}">
        {% trans 'Twoi znajomi' %}
      </a>
    </li>
    <li class="{% if 'requests' in request.path %}active{% endif %}">
      <a href="{% url 'accounts:friends:requests' %}">
        {% trans 'Zaproszenia do znajomych' %}
      </a>
    </li>
  </ul>
  {% block friends_content %}

  {% endblock %}

{% endblock %}
</body>
