{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Test z wiedzy roleplay' %}{% endblock %}

{% block content %}
  <form action="{% url 'accounts:roleplay-test' %}" method="POST">
      {% csrf_token %}
      {% for i, question in questions %}
        <h2>{{ question.question }}</h2>
        <ul>
          <li>
            <input type="radio" name="answer_{{ i }}" value="a">
            {{ question.answer_a }}
          </li>
          <li>
            <input type="radio" name="answer_{{ i }}" value="b">
            {{ question.answer_b }}
          </li>
          <li>
            <input type="radio" name="answer_{{ i }}" value="c">
            {{ question.answer_c }}
          </li>
          <li>
            <input type="radio" name="answer_{{ i }}" value="d">
            {{ question.answer_d }}

            {# Hidden field: Question ID #}
            <input type="hidden" name="id_{{ i }}"
              value="{{ question.id }}">
          </li>
        </ul>
      {% endfor %}
    <input type="submit" value="{% trans 'Sprawdź odpowiedzi' %}">
  </form>
{% endblock %}
