.button-create-character {
  background-color: $cloudmta-1-red;
  &:hover {
    background-color: scale-color($cloudmta-1-red, $lightness: -30%);
  }
}

ul.characters-list {
  li {
    a {
      &, h2, i {
        color: $white;
      }

      &.blocked {
        opacity: 0.6;
        background-color: $cloudmta-1-pink;
      }

      &.blocked:hover {
        opacity: 1;
        background-color: scale-color($cloudmta-1-pink, $lightness: -30%);
      }

      min-height: 230px;
      background-color: $cloudmta-1-green;
      text-align: right;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      &:hover {
        background-color: scale-color($cloudmta-1-green, $lightness: -30%);
      }
      padding: 20px;
      display: block;
    }
  }
}

.character-header-banner {
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  &, a, h1, h1 small {
    color: $white;
  }

  .tabs {
    li {
      i.fa {
        @media #{$large-up} {
          margin-right: 10px;
        }
      }
    }
  }
}
