#friends-menu {

  .remove-friend {
    width: 100px;
    margin-bottom: -30px;
    opacity: 0.2;
    top: rem-calc(-100px);
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  .friends-request {
    @include button;
    background-color: #F04124;
    &:hover {
      background-color: scale-color(#F04124, $lightness: -20%);
  }
  }

  .accept {
    margin-right: -4px;
  }
}
