.group-header-banner {
  background-color: $primary-color;
  &, a, h1, h1 small {
    color: $white;
  }

  .tabs {
    li {
      i.fa {
        @media #{$large-up} {
          margin-right: 10px;
        }
      }
    }
  }
}
