#user-profile {
  .cover-photo {
    height: 200px;
    border: 0;
    background-image: url(../img/homepage/bg.png);
    margin-bottom: 0;
  }

  .user-avatar {
    background-image: url(../img/homepage/gui-1.png);
    height: 150px;
    width: 150px;
  }

  .user-name {
    background-color: $white;
    padding-left: 2%;
  }
}
