#user-profile {
  .cover-photo {
    @include panel();
    height: 200px;
    border: 0;
    background-image: url(../img/homepage/bg.png);
    margin-bottom: 0;
  }

  .avatar {
    background-image: url(../img/homepage/gui-1.png);
  }

  .avatar-small {
    height: 50px;
    width: 50px;
  }

  .avatar-medium {
    height: 100px;
    width: 100px;
  }

  .avatar-large {
    height: 150px;
    width: 150px;
  }

  .avatar-circle {
    border-radius: 50%;
  }
  .nav {
    background-color: $oil;

    a {
      background-color: $oil;
      color: white;

      &:hover {
        background-color: $jet;
      }

    }

    li.active {
      a {
        background-color: $jet;
      }
    }

  }

  .tabs-content {
    height: auto;
  }

  ul.characters-list {
    li {
      a {
        &, h2, i {
          color: $white;
        }

        &.blocked {
          opacity: 0.6;
          background-color: $cloudmta-1-pink;
        }

        &.blocked:hover {
          opacity: 1;
          background-color: scale-color($cloudmta-1-pink, $lightness: -30%);
        }

        min-height: 230px;
        background-color: $cloudmta-1-green;
        text-align: right;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        &:hover {
          background-color: scale-color($cloudmta-1-green, $lightness: -30%);
        }
        padding: 20px;
        display: block;
      }
    }
  }

  .friend-name {
    color: $white;
    margin-left:10px;
    padding-top:72px;
  }
}
