{% extends 'accounts/base_friends.html' %}
{% load i18n %}

{% block friends_content %}
  <h1>{% trans 'Lista Twoich znajomych' %}</h1>
  <ul class="small-block-grid-5">
    {% for friend in friends %}
      <li>
        <a href="{{ friend.get_absolute_url }}">
          <div class="avatar-box avatar-medium" style="background-image: url({{ friend.get_avatar_url }})">
            <div class="avatar-box-username">{{ friend }}</div>
          </div>
        </a>
        <a class="button alert tiny remove-friend" style="width: 100px; margin-left:-4px;" href="{% url 'accounts:friends:delete_friend' friend.pk %}">
          <i class="fa fa-trash"></i>
        </a>
      </li>
    {% empty %}
      <li>{% trans 'Brak znajomych' %}</li>
    {% endfor %}
  </ul>
{% endblock %}
