{% extends 'accounts/base_friends.html' %}
{% load i18n %}

{% block friends_content %}
  <h1>{% trans 'Lista Twoich znajomych' %}</h1>
  <ul>
    {% for friend in friends %}
      <li>
        <a href="{{ friend.get_absolute_url }}">{{ friend }}</a>
        <a class="alert tiny" href="{% url 'accounts:friends:delete_friend' friend.pk %}">
          <i class="fa fa-trash"></i>
        </a>
      </li>
    {% empty %}
      <li>{% trans 'Brak znajomych' %}</li>
    {% endfor %}
  </ul>
{% endblock %}
