{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html lang="pl-PL">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>{% block title %}{% trans 'Serwer role play na MTA' %}{% endblock %} | CloudMTA</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/output_header.js' %}"></script>
  </head>
  <body>
    {% include 'includes/header.html' %}
    {% block under_header %}{% endblock %}
    {% include 'includes/messages.html' %}
    <div class="row">
      <div class="large-12 columns">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'includes/footer.html' %}
    <script src="{% static 'js/output_footer.js' %}"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
