{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html lang="pl-PL">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<title>{% block title %}{% trans 'Serwer role play na MTA' %}{% endblock %} | CloudMTA</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/output_header.js' %}"></script>
  </head>
  <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
    {% include 'includes/messages.html' %}
    {% include 'includes/header.html' %}
    {% block under_header %}{% endblock %}
    {% block container %}{% endblock %}
    {% include 'includes/footer.html' %}
    <script src="{% static 'js/output_footer.js' %}"></script>
    <script>
    $(document).foundation({
      orbit: {
        bullets: false,
        slide_number: false,
      },
    });
    </script>
    {% block before_end_of_body %}

    {% endblock %}
  </body>
</html>
